/* mobile first */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}

.header .symbol {
    font-size: x-large;
    color: blueviolet;
    position: absolute;
    top: -0.5rem;
    right: 1rem;
}
.header .title {
    text-align: center;
}

.header span.subtitle {
    color: orange;
}

.header .information {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.header .information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Neue Machina', sans-serif;
    margin: .5rem;
}

.header .information p i {
    color: #fff;
    margin-right: .5rem;
}

.header .information p a {
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information";
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
    }

    .header .information {
        grid-area: information;
    }
}